body{
    background-color: lightgray;
    /* background-image: url(../images/CAT-Logo-TM-RGB.png);
    background-repeat: no-repeat;
    background-position:  */
}

.logo{
    max-width: 294px;
}

.logo-img{
    width: 120px;
    height: 70px;
}

.logo-img img{
    width: 100%;
}

.btns-number{
    /*max-width: 294px;*/
}

.btns-number .btn{
    width: 94px;
    background-color: #fff;
}

.btns-number .btn:hover{
    background-color: #343a40;
}

.btns-control .btn{
    width: 144px;
}

.screen-phone{
    max-width: 294px;
    height: 48px;
    font-size: 30px;
    display: inline-block;
}

.screen-phone:disabled{
    background-color: #fff;
}

.btns-number .clear-all{
    font-size: 16px;
    height: 48px;
    /* width: 218px; */
}

@media (max-width:767px){
    .phone-wrap{
        text-align: center;
    }

    .logo{
        margin: auto;
    }
}

@media (max-width:400px){
    .btns-number .btn{
        width: 86px;
    }

    .btns-number .clear-all{
        font-size: 14px;
    }

    .screen-phone{
        max-width: 268px;
    }

    .btns-control .btn{
        width: 130px;
    }

    .logo{
        max-width: 260px;
    }
}