body{
    background-color: lightgray;
}

.logo{
    max-width: 294px;
}

.logo-img{
    width: 120px;
    height: 70px;
}

.logo-img img{
    width: 100%;
}

.btns-number .btn{
    width: 94px;
    background-color: #fff;
}

.btns-number .btn:hover{
    background-color: #343a40;
}

.btns-control .btn{
    width: 144px;
}

@media (max-width:767px){
    .phone-wrap{
        text-align: center;
    }

    .logo{
        margin: auto;
    }
}

@media (max-width:400px){
    .btns-number .btn{
        width: 86px;
    }

    .btns-control .btn{
        width: 130px;
    }

    .logo{
        max-width: 260px;
    }
}